$primary: #fe016d;
$secondary: #018afe;
$white: #fff;
$page-width: 720px;
$black: #222;
$semi: rgba(black, 0.05);
$border-radius: 4px;
$click-area: 48px;
$font-size-default: 18px;
$font-size-small: 14px;
$line: 1px solid rgba(black, 0.1);