$primary: #fe016d;
$secondary: #018afe;
$white: #fff;
$page-width: 650px;
$black: #222;
$gray: #888;
$semi: rgba(black, 0.05);
$border-radius: 4px;
$click-area: 48px;
$font-size-default: 18px;
$font-size-small: 14px;
$font-size-tiny: 11px;
$line: 1px solid rgba(black, 0.2);
$text-note: gray;