@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&family=Figtree:wght@400;500;600;700&display=swap');
@import '_variables.scss';
@import '_grid.scss';
@import '_utilities.scss';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: common-ligatures;
  box-sizing: border-box;
}

body {
  font-family: 'Figtree', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: white;
  color: $black;
  font-size: $font-size-default;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  text-align: left;
  background-color: #f9f9f9;
}

a {
  color: $black;
  font-weight: bold;
  text-decoration: underline;
}

#wrapper {
  max-width: $page-width;
  background-color: $white;
  padding: 2rem;
}

h1 {
  font-family: 'Bebas Neue', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 0.75;
  margin: 0 0 3rem 0;
  color: $black;
  letter-spacing: -0.1rem;
}

p {
  margin: 0 0 1rem 0;
}

input,
textarea {
  transition: all 0.3s ease;
  width: 100%;
  height: $click-area;
  font-size: 1rem;
  border-radius: 4px;
  outline: none;
  border: 2px solid transparent;
  padding: 0 1rem;
  background-color: rgba(black, 0.05);
  color: black;
  margin-bottom: 1rem;

  &:focus {
    border-color: $black;

    & ~ .input-note {
      visibility: visible;
    }
  }
}

textarea {
  padding: 1rem;
  height: 160px;
}

::placeholder {
  color: rgba(black, 0.3);
  opacity: 1;
}

button {
  transition: all 0.3s ease;
  height: $click-area;
  padding: 0 1.5rem;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
  border: 2px solid $primary;
  background-color: $white;
  color: $primary;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 1rem;

  &:hover {
    background-color: $primary;
    color: $white;
  }
}

hr {
  width: 100%;
  height: 1px;
  margin: 2rem 0;
  background-color: rgba(black, 0.1);
  border: 0 none;
}

.preview {
  border: 1px dashed rgba(black, 0.2);
  padding: 1rem;
  border-radius: $border-radius;
  position: relative;
  line-height: 1.2;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;

  a {
    color: #0000EE;
    font-weight: initial;
  }

  span {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05rem;
    background-color: $white;
    color: $gray;
    padding: 0 0.5rem;
    left: 0.5rem;
    top: -0.45rem;
    font-size: $font-size-tiny;
  }
}

.number {
  background-color: $secondary;
  height: $click-area;
  width: $click-area;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: $white;
}

.image-square {
  max-width: 128px;
  border-radius: $border-radius * 2;
  border: $line;
}

.input {
  position: relative;
}

.input-note {
  font-size: $font-size-small;
  visibility: hidden;
  display: block;
  width: 100%;
  background-color: $white;
  border: $line;
  color: $gray;
  max-width: 200px;
  position: absolute;
  top: 0;
  right: calc(-200px - 1rem);
  padding: 0.5rem;
  border-radius: $border-radius;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 1rem;
  min-height: $click-area;

  &:after,
  &:before {
    right: 100%;
    top: 24px;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(221, 221, 221, 0);
    border-right-color: $white;
    border-width: 8px;
    margin-top: -8px;
  }
  &:before {
    border-color: rgba(221, 221, 221, 0);
    border-right-color: rgba(black, 0.2);
    border-width: 9px;
    margin-top: -9px;
  }
}
